/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1118px) {
  .header-background {
    width: 100%;
    border-radius: 0px;
  }
  .header-background::after {
    border-radius: 0px;
  }
  .about-us {
    margin-right: 15px;
    padding-bottom: 83px;
  }
  .navigation-class {
    margin-right: 15px;
  }
  .about-us-info {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.59rem;
  }
  .first-main-title {
    padding-left: 15px;
  }
  .grid-block {
    -ms-grid-columns: 55%;
    grid-template-columns: 55%;
    row-gap: 0px;
  }
  .grid-item:nth-child(2) {
    border-top: none;
    border-right: solid var(--main-color);
    border-left: solid var(--main-color);
    border-bottom: solid var(--main-color);
    border-radius: 0 0 12px 12px;
    height: 20.24rem;
    padding-top: 14px;
  }
  .grid-item:nth-child(1) {
    border-top: solid var(--main-color);
    border-left: solid var(--main-color);
    border-right: solid var(--main-color);
    border-radius: 12px 12px 0 0;
    height: 20.24rem;
  }
  .grid-item:nth-child(4) {
    border-top: none;
    border-right: solid var(--main-color);
    border-left: solid var(--main-color);
    border-bottom: solid var(--main-color);
    border-radius: 0 0 12px 12px;
    height: 20.24rem;
    padding-top: 40px;
  }
  .grid-item:nth-child(3) {
    border-top: solid var(--main-color);
    border-left: solid var(--main-color);
    border-right: solid var(--main-color);
    border-radius: 12px 12px 0 0;
    height: 20.24rem;
    margin-top: 24px;
  }
  .grid-item:nth-child(6) {
    border-top: none;
    border-right: solid var(--main-color);
    border-left: solid var(--main-color);
    border-bottom: solid var(--main-color);
    border-radius: 0 0 12px 12px;
    height: 20.24rem;
    padding-top: 14px;
  }
  .grid-item:nth-child(5) {
    border-top: solid var(--main-color);
    border-bottom: none;
    border-left: solid var(--main-color);
    border-right: solid var(--main-color);
    border-radius: 12px 12px 0 0;
    height: 20.24rem;
    margin-top: 24px;
  }
  .image-size1,
  .image-size2 {
    margin-left: 10px;
  }
  .grid-block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .more-2 {
    margin-top: 40px;
  }
  .footer-social-media {
    padding-right: 24px;
  }
  .first-footer-titlee {
    padding-left: 24px;
  }
}
@media (max-width: 1083px) {
  .div-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section-background-color {
    height: 1500px;
  }
  .div-item {
    margin-top: 24px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .image-size1,
  .image-size2 {
    width: 33.625rem;
    margin-left: 14px;
  }
}
@media (max-width: 1027px) {
  .image-size1,
  .image-size2 {
    width: 30.625rem;
    height: 100%;
    margin-left: 25px;
  }
  .navigation-class {
    display: none;
  }
  .mobile-container {
    display: block;
  }
  .burger-class {
    font-size: 11px;
    font-family: "Roboto";
  }
}
@media (max-width: 950px) {
  .image-size1,
  .image-size2 {
    width: 28.625rem;
    height: 100%;
    margin-left: 20px;
  }
}
@media (max-width: 895px) {
  .image-size1,
  .image-size2 {
    width: 24.625rem;
    height: 100%;
    margin-left: 20px;
  }
}
@media (max-width: 830px) {
  .about-us-info {
    max-width: 33.75rem;
    width: 100%;
    margin: 0 auto;
    font-size: 1.49rem;
  }
}
@media (max-width: 811px) {
  .grid-item {
    width: 26.625rem;
  }
  .image-size1,
  .image-size2 {
    margin-left: 14px;
  }
  .text-class {
    font-size: 14px;
  }
}
@media (max-width: 728px) {
  .fa-brands {
    font-size: 25px;
  }
  .grid-item {
    width: 24.625rem;
  }
  .image-size1,
  .image-size2 {
    margin-left: 14px;
    width: 22.625rem;
  }
}
@media (max-width: 577px) {
  .grid-item {
    width: 23.525rem;
  }
  .image-size1,
  .image-size2 {
    margin-left: 14px;
    width: 21.525rem;
  }
  .grid-block {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 70px;
  }
  .about-us-info {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.3rem;
  }
  .footer-conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-color {
    height: 800px;
  }
  .li-distance {
    padding-left: 19px;
  }
}
@media (max-width: 477px) {
  .about-us-info {
    max-width: 20rem;
    width: 100%;
    margin: 0 auto;
    font-size: 1.1rem;
  }
  .grid-block {
    padding-left: 40px;
  }
}
@media (max-width: 440px) {
  .grid-block {
    padding-left: 30px;
  }
  .logo-size {
    width: 22rem;
  }
  .div-item {
    width: 17.875rem;
    height: 22.875rem;
    border-radius: 11px;
  }
  .div-item:hover {
    width: 19rem;
  }
  .image-class {
    width: 17.438rem;
  }
  .div-item:hover .text-on-image {
    left: 140px;
    opacity: 1;
  }
  .div-item:hover .image-class {
    width: 18.5rem;
  }
  .text-on-image {
    font-size: 20px;
  }
}
@media (max-width: 427px) {
  .grid-block {
    padding-left: 0px;
  }
  .logo-size {
    width: 18rem;
  }
}
@media (max-width: 395px) {
  .grid-item {
    width: 20.625rem;
  }
  .image-size1,
  .image-size2 {
    margin-left: 7px;
    width: 19.525rem;
  }
}

@media (max-width: 388px) {
  .grid-item {
    width: 18.625rem;
  }
  .image-size1,
  .image-size2 {
    margin-left: 7px;
    width: 17.525rem;
  }
}
@media (max-width: 349px) {
  .about-us-info {
    max-width: 18rem;
    font-size: 1.1rem;
  }
}
