@media (max-width: 1118px) {
  .header-background {
    width: 100%;
    border-radius: 0px;
  }
  .header-background::after {
    border-radius: 0px;
  }
  .about-us {
    margin-right: 15px;
    padding-bottom: 83px;
  }
  .navigation-class {
    margin-right: 15px;
  }
  .about-us-info {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.59rem;
  }
  .grid-block {
    grid-template-columns: 55%;
    justify-content: center;
    row-gap: 0px;
  }
  .grid-item:nth-child(2) {
    border-top: none;
    border-right: solid var(--main-color);
    border-left: solid var(--main-color);
    border-bottom: solid var(--main-color);
    border-radius: 0 0 12px 12px;
    height: 20.24rem;
    padding-top: 14px;
  }
  .grid-item:nth-child(1) {
    border-top: solid var(--main-color);
    border-left: solid var(--main-color);
    border-right: solid var(--main-color);
    border-radius: 12px 12px 0 0;
    height: 20.24rem;
  }
  .grid-item:nth-child(4) {
    border-top: none;
    border-right: solid var(--main-color);
    border-left: solid var(--main-color);
    border-bottom: solid var(--main-color);
    border-radius: 0 0 12px 12px;
    height: 20.24rem;
    padding-top: 40px;
  }
  .grid-item:nth-child(3) {
    border-top: solid var(--main-color);
    border-left: solid var(--main-color);
    border-right: solid var(--main-color);
    border-radius: 12px 12px 0 0;
    height: 20.24rem;
    margin-top: 24px;
  }
  .grid-item:nth-child(6) {
    border-top: none;
    border-right: solid var(--main-color);
    border-left: solid var(--main-color);
    border-bottom: solid var(--main-color);
    border-radius: 0 0 12px 12px;
    height: 20.24rem;
    padding-top: 14px;
  }
  .grid-item:nth-child(5) {
    border-top: solid var(--main-color);
    border-bottom: none;
    border-left: solid var(--main-color);
    border-right: solid var(--main-color);
    border-radius: 12px 12px 0 0;
    height: 20.24rem;
    margin-top: 24px;
  }
  .image-size1,
  .image-size2 {
    margin-left: 10px;
  }
  .grid-block {
    justify-content: center;
  }
  .more-2 {
    margin-top: 40px;
  }
  .footer-social-media {
    padding-right: 24px;
  }
  .first-footer-titlee {
    padding-left: 24px;
  }
}
@media (max-width: 1083px) {
  .div-block {
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section-background-color {
    height: 1500px;
  }
  .div-item {
    margin-top: 24px;
    justify-content: center;
  }
  .image-size1,
  .image-size2 {
    width: 33.625rem;
    margin-left: 14px;
  }
}
@media (max-width: 1027px) {
  .image-size1,
  .image-size2 {
    width: 27.625rem;
    height: 100%;
  }
}
@media (max-width: 830px) {
  .about-us-info {
    max-width: 33.75rem;
    width: 100%;
    margin: 0 auto;
    font-size: 1.49rem;
  }
}
